header {
  background-color: rgb(147, 147, 147);
  padding: 20px 0px;
  border: 2px solid black;
}

header:hover {
  background-color: rgb(183, 183, 183);
}
.caja {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 126px;
  right: 0px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: gold;
}

.listaProductos {
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}

.listaProductos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 20px 10px;
  box-sizing: border-box;
  border: 2px outset rgb(0, 0, 0);
  border-top-width: 6px;
  border-right-width: 6px;
  border-radius: 10px;
  border-bottom-left-radius: 20px;
}
.listaProductos li:hover {
  border-color: gold;
}

.listaProductos li:hover h2 {
  font-size: 32px;
}
.listaProductos li:hover .precioServicio {
  color: rgb(0, 168, 0);
}

.listaProductos li:active {
  border-color: rgb(0, 173, 0);
}

.listaProductos h2 {
  font-weight: bold;
  font-size: 25px;
}

.descripcionServicio {
  font-size: 20px;
}

.precioServicio {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  background: url(imagenes2/imagenes/bg.jpg);
  display: block;
  text-align: center;
  padding-top: 40px;
}

.copyright {
  color: white;
  text-align: center;
  padding-bottom: 40px;
  font-size: 13px;
}
