body {
  background: rgb(249, 228, 202);
  margin: auto;
}
.tituloPrincipal {
  text-align: center;
}
.tituloCentralizado {
  text-align: center;
}

.bloquePrincipal {
  background-color: rgb(249, 228, 202);
  padding: 0px;
}

#banner {
  width: 100%;
  border: 5px solid rgb(19, 4, 4);
}
p {
  text-align: center;
}

#mision1 {
  color: black;
  font-size: 20px;
  font-style: italic;
}
#mision2 {
  color: red;
  font-size: 23px;
  font-style: italic;
}

.diferenciales {
  background-color: white;
}
.tituloCentralizado2 {
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
}
.items {
  font-style: italic;
}
ul {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-left: 10%;
}
.imagenDiferenciales {
  width: 50%;
}
